li,
a {
  text-decoration: none;
  list-style: none;
}
ul,
li,
body {
  margin: 0;
  padding: 0;
}
.layout {
  width: 100vw;
  height: 100vh;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}
.layout .header {
  height: 32px;
  display: flex;
  background-color: #fff;
}
.layout .header .back {
  width: 22px;
  padding: 5px;
  background-image: url(../images/jd-sprites.png);
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: -20px 1px;
  background-clip: content-box;
  background-origin: content-box;
}
.layout .header form {
  flex: 1;
  position: relative;
}
.layout .header form input {
  height: 100%;
  width: 100%;
  border: none;
  border: 1px solid #000;
  border-radius: 16px;
  padding: 2px 0 2px 30px;
}
.layout .header form::before {
  content: '';
  width: 22px;
  height: 22px;
  top: 5px;
  position: absolute;
  background-image: url(../images/jd-sprites.png);
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: -80px 4px;
  background-clip: content-box;
  background-origin: content-box;
  padding-left: 10px;
}
.layout .header .menu {
  width: 22px;
  padding: 5px;
  background-image: url(../images/jd-sprites.png);
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: -58px 1px;
  background-clip: content-box;
  background-origin: content-box;
}
.layout .main {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.layout .main .left {
  width: 75px;
  background-color: #eee;
  overflow: hidden;
  /* important!左侧自由滑动
      1. .swiper-container height: 100%;
      2. .swiper-slide height: auto; 
      3. freeMode: true,
      4. SliderPerView :'auto'
      */
}
.layout .main .left .swiper-container {
  height: 100%;
}
.layout .main .left .swiper-container .swiper-slide {
  height: auto;
}
.layout .main .left .swiper-container .swiper-slide li.active {
  background-color: #fff;
}
.layout .main .left .swiper-container .swiper-slide li a {
  width: 100%;
  padding: 10px 0px;
  margin: 0;
  text-align: center;
  display: inline-block;
  color: #000;
}
.layout .main .right {
  flex: 1;
  background-color: #ff0000;
}
.layout .jd_navbar {
  background-color: #fff;
}
.layout .jd_navbar ul {
  display: flex;
}
.layout .jd_navbar ul li {
  flex: 1;
  text-align: center;
}
.layout .jd_navbar ul li img {
  display: inline-block;
  width: 70%;
}
.swiper-container {
  height: 581.5px;
}
