.line {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.jd_sprites {
  background-image: url(../images/jd-sprites.png);
  background-size: 200px 200px;
  background-repeat: no-repeat;
}
ul {
  text-decoration: none;
  padding: 0 0;
  margin: 0 0;
}
a {
  text-decoration: none;
}
li {
  text-decoration: none;
  list-style: none;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0px;
  clear: both;
  visibility: hidden;
}
.layout {
  padding: 0;
  margin: 0 auto;
  width: 100vw;
  max-width: 640px;
  min-width: 320px;
  background-color: #eee;
}
.layout .search {
  width: 100%;
  max-width: 640px;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: rgba(233, 34, 35, 0);
  padding: 5px 5px;
  box-sizing: border-box;
  z-index: 998;
}
.layout .search .input {
  width: 100%;
  flex: 1;
  position: relative;
  margin: 0 5px;
}
.layout .search .input input {
  box-sizing: border-box;
  width: 100%;
  height: 21px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding-left: 24px;
  font-size: 13px;
}
.layout .search .input::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 7px;
  width: 15px;
  height: 15px;
  z-index: 998;
  background-image: url(../images/jd-sprites.png);
  background-position: -53px -97px;
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
.layout .search .jd_logo {
  width: 60px;
  background-image: url(../images/jd-sprites.png);
  background-position: 0 -107px;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  height: 24px;
}
.layout .search .login {
  width: 2rem;
  color: #fff;
  font-size: 10px;
}
.layout .banner {
  position: relative;
  overflow: hidden;
}
.layout .banner > ul:nth-of-type(1) {
  position: relative;
}
.layout .banner > ul:nth-of-type(1) > li {
  display: block;
  float: left;
}
.layout .banner > ul:nth-of-type(1) > li > a {
  width: 100%;
  display: block;
}
.layout .banner > ul:nth-of-type(1) > li > a > img {
  width: 100%;
  display: block;
}
.layout .banner > ul:nth-of-type(2) {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}
.layout .banner > ul:nth-of-type(2) > li {
  width: 8px;
  height: 8px;
  margin: 0px 5px;
  border: 1px solid #fff;
  border-radius: 50%;
  float: left;
}
.layout .banner > ul:nth-of-type(2) > li.active {
  background-color: #fff;
}
.layout .nav {
  width: 100%;
}
.layout .nav > ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.layout .nav > ul > li {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 0;
}
.layout .nav > ul > li img {
  width: 50%;
}
.layout .nav > ul > li .name {
  color: #000;
  font-size: 13px;
}
.layout .sk .line .clock {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}
.layout .sk .line .clock .pic {
  width: 23px;
  height: 23px;
  background-position: -79px -109px;
  padding: 0 2px;
  background-image: url(../images/jd-sprites.png);
  background-size: 200px 200px;
  background-repeat: no-repeat;
}
.layout .sk .line .clock .name {
  color: #ff0000;
  padding: 0 2px;
}
.layout .sk .line .clock .timer {
  display: flex;
  align-items: center;
  padding: 0 2px;
}
.layout .sk .line .clock .timer div {
  box-sizing: border-box;
  text-align: center;
  padding: 0 1px;
  margin-left: 2px;
}
.layout .sk .line .clock .timer .time {
  background-color: #000;
  color: #fff;
  padding: 1px 2  px;
}
.layout .sk .goods {
  margin-top: 10px ;
  display: flex;
  width: 100%;
  text-align: center;
}
.layout .sk .goods div:nth-of-type(2) img {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.layout .sk .goods img {
  width: 75%;
  display: inline-block;
  padding: 0 10px 0 10px;
}
.layout .sk .goods div,
.layout .sk .goods del {
  color: #000;
}
.layout .supermarket .line {
  border-bottom: 1px solid #ccc;
}
.layout .supermarket .line .name {
  position: relative;
  margin-left: 7px;
  padding: 4px 0px 4px 9px;
}
.layout .supermarket .line .name::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  width: 2px;
  height: 9px;
  background-color: #e92223;
}
.layout .supermarket .list {
  display: flex;
  align-items: stretch;
}
.layout .supermarket .list .small {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 103px;
}
.layout .supermarket .list .small a {
  height: 100%;
}
.layout .supermarket .list .large {
  box-sizing: border-box;
  width: 50%;
  height: 206px;
}
.layout .supermarket .list .large a {
  height: 100%;
}
.layout .supermarket .list img {
  width: 100%;
  height: 100%;
  display: block;
}
.layout .supermarket .flex-direction-left {
  flex-direction: row;
}
.layout .supermarket .flex-direction-left .large {
  border-right: 1px solid #ccc;
}
.layout .supermarket .flex-direction-left .small a:nth-of-type(1) {
  border-bottom: 1px solid #ccc;
}
.layout .supermarket .flex-direction-right {
  flex-direction: row-reverse;
}
.layout .supermarket .flex-direction-right .large {
  border-left: 1px solid #ccc;
}
.layout .supermarket .flex-direction-right .small a:nth-of-type(1) {
  border-bottom: 1px solid #ccc;
}
.block {
  margin-top: 10px;
  background-color: #fff;
}
.topblock {
  margin-top: 0px;
}
